html {
    height:100%;
}

body
{
	background: #fafafa;
    height:100%;
}


header {
    position:absolute;
    width:100%;
    height:122px;
}

#banner {
    height:80px;
    background: #fafafa;
}

#main {
    background: #e9f6d5;
    min-height:100%;
    height: auto !important;
    padding:0 10px ;
    margin: 0 auto -60px;
}

#mainRow {
    padding-top: 140px;
}

#push {
    height: 60px;
}

footer {
    background-color: #fafafa;
    color:#999;
    height: 40px;
    padding-top:20px;
}

#email {
    background: url("../images/Mail.gif") no-repeat;
    padding-left: 20px;
}

.navbar {
    margin-bottom: 0;
}

.article p
{
    text-align: justify;
    text-indent: 2em;
}

.portlet {
    border:1px solid #2c2c98;
    margin-bottom: 20px;
}

.portlet-title {
    background: #2c2c98;
    color:#ffffff;
    text-align: center;
    font-weight: bold;
    padding:10px 0;
    margin-bottom: 10px;
}

#find {
    margin-bottom: 10px;
    text-align:center;
}

#find a {
    background: url("../images/Find.gif") no-repeat;
    padding-left: 20px;
}

#contacts {
    padding-bottom:10px;
    text-align: center;
}