/* для layout main */

html {
    height:100%;
}

body
{
	background: #fafafa;
    height:100%;
}


header {
    position:absolute;
    width:100%;
    height:122px;
}

#banner {
    height:80px;
    background: url("../images/BookShelf.jpg") repeat-x;
}

#main {
    background: #e9f6d5;
    min-height:100%;
    height: auto !important;
    padding:0 10px ;
    margin: 0 auto -60px;
}

#mainRow {
    padding-top: 140px;
}

#push {
    height: 60px;
}

footer {
    background-color: #fafafa;
    color:#999;
    height: 40px;
    padding-top:20px;
}


/* Верхнее меню */
.navbar {
    margin-bottom: 0;
}

/* Статьи словарных слов */
.article p
{
    text-align: justify;
    text-indent: 2em;
}

/* Левое меню */

.portlet {
    border:1px solid #2c2c98;
    margin-bottom: 20px;
}

.portlet-title {
    background: #2c2c98;
    color:#ffffff;
    text-align: center;
    font-weight: bold;
    padding:10px 0;
    margin-bottom: 10px;
}

#email {
    background: url("../images/Mail.gif") no-repeat;
    padding-left: 20px;
}

#find {
    margin-bottom: 10px;
    text-align:center;
}

#find a {
    background: url("../images/Find.gif") no-repeat;
    padding-left: 20px;
}


/* Страница контакты */
#contacts {
    padding-bottom:10px;
    text-align: center;
}

/* Список статей */
#articleList ul {
    list-style: none;
}

#articleList li {
    margin:5px 0;
    padding:5px 0;
}

#articleList li:nth-child(2n+1) {
    background-color: #f4f9f9;
}

#articleList li:hover {
    background-color: #f9e5f7;
}


/* Комментарии в статье*/
#comments {
    color:#959595;
}

#comments .author {
    margin-bottom: 5px;
    font-weight: bold;
}

#comments .comment {
    width:90%;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-indent: 16px;
    text-align: justify;
}

#btnComment {
    margin:10px;
}

#yourComment {
    background:#979797;
    color:#ffffff;
    padding:10px;
    margin-bottom: 10px;
}

#yourComment p:first-child {
    margin-bottom:5px;
    font-weight: bold;
}

#yourComment p:last-child {
    margin:0;
    text-indent: 16px;
    text-align: justify;
}

/* Комментарии в админ меню */

.inlineLabel {
    display:inline-block;
    height:30px;
    line-height:30px;
    margin:0 10px 0 0;
}

.captcha a {
    margin-left:10px;
}

.captcha p {
    margin-top:10px;
}